/* CUSTOM STYLE SHEET */

body{
    background-color: black;
}

a {
    color: #00FFFF;
}

a:hover {
    color: white;
}

.team-heading{
    background: linear-gradient(to bottom right, #0000b0, #000020),
                linear-gradient(to bottom left, #000050, #000080);
    color: white;
    border: 0.3rem solid white;
    border-radius: 10px;
}

.employee-card{
    background: linear-gradient(to bottom right, #0000b0, #000020),
                linear-gradient(to bottom left, #000050, #000080);
    color: white;
    margin: 1rem;
    border: 0.3rem solid white;
    border-radius: 10px;
}

.employee-card .card-title{
    color: white;
}

.employee-card .list-group-item {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}